@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  margin: 0;
}

  .iconos{
    font-size: 7.5rem;
  }
  .botones {
    font-family: 'Poppins', sans-serif;
  }

  .container-tecno{
    width: 60rem;
    height: auto; /* Ajuste automático según el contenido */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 2rem; /* Ajusta el padding interno si es necesario */
    display: grid; /* Cambiamos a 'grid' para centrar el contenido */
    justify-content: center; /* Asegura que todo esté centrado horizontalmente */
    align-items: center; /* Asegura que el contenido se centre verticalmente */
    position: relative;
    right: 9rem;
    margin-top: 4rem;
  }

 

  .grid-tecno {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Tres columnas */
    grid-template-rows: repeat(2, auto); /* Dos filas */
    gap: 9rem; /* Espacio entre los íconos */
    justify-items: center; /* Centra los íconos dentro de cada celda */
    align-items: center; /* Centra verticalmente los íconos en las celdas */
  }
  .contenedor-proyectos{
    /* border: 3px solid red; */
    /* margin-top: -1rem; */
    width: 17rem;
    height: 25rem;
    position: relative ;
    top: -3rem;
  }
  .contenedor-proyectos1{
    width: 70rem;
    
    position: relative ;
    right: 15rem;
  }

  #proyectos{
    padding-bottom: 3rem;
  }
 
  .bg-gray-200 {
    background-color: #e2e8f0; /* Fondo gris claro */
  }
  
  
  
  p{
    padding: 1rem; /* Espaciado interno */
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    text-align: center; /* Asegúrate de que el texto esté centrado */
    font-size: 1.3rem;
    word-spacing: 5px;
    font-weight: 600;
  }

  .p-footer{
    display: flex;
    justify-content: left;
    position: relative;
    top:2rem;
    font-size: 1.1rem;
  }

  .container-footer {
    position: relative;
    /* border: 1px solid; */
    width: 8rem;
    left: 73rem;
    bottom: 2rem;
    font-size: 2rem;
    display: flex;
     /* Para espaciar los iconos */
    gap: 1.3rem; /* Ajusta el valor del gap para controlar el espacio entre iconos */
  }
  .aboutC{
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38rem;
    margin-top: -22rem;
    margin-left: 22rem;
  }

  .about-title{
    /* border: 1px blue solid; */
    text-align: center;
    font-size: 2.5rem;
    border-bottom: #7adcb0 solid;
    margin-bottom: 1.2rem;
    /* right: -32rem;   */
  }
  
  .pc{
    margin-left: -20rem;
    margin-top: -13rem
    
  }
  

  .section{
    /* border: 1px solid; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 23rem; /* Asegúrate de que el padding no cause desbordamiento */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
    position: relative; /* Cambiar a 'relative' o eliminar si no lo necesitas */
    
  }


  .header {
    height: 55vh;
    min-height: 50rem;
    max-height: 50rem;
    position: relative;
    background-color: #f4f6fc;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center; /* Centra verticalmente */
    overflow: hidden;
    width: 100%;
    padding: 0 50px; /* Añade un pequeño padding para separar los extremos */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

  .active-link{
    border-bottom: thin solid rgb(255, 255, 255);
    padding-bottom: 0.5rem;
    font-weight: bold;
  }

  #about {
    /* margin-top: 1rem; Ajusta este valor según la altura de tu nav */
    padding-bottom: 5rem;
    margin-bottom: 1rem;
  }

  .letra {
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    text-align: center; /* Asegúrate de que el texto esté centrado */

    width: 80%;
    height: 60%;
    margin: 30px 60px 0px 45px;
    font-family: 'Cinzel Decorative', cursive;
    color: black; 
     /* Esto puede estar causando la alineación centrada */
    font-size: 15px;
    font-weight: normal !important; /* Asegúrate de que sea 'normal' */
    background-color: #fff6ea;
    position:absolute;
}
  

.letra2 {
  position: absolute;
  right: 575px; /* Pegado al borde izquierdo */
  top: 49%;
  width: 38%;
  height: 14%;
  font-family: 'Cinzel Decorative', cursive;
  color: black; 
  -webkit-text-stroke: 1.4px black; /* Solo aplicado a letra2 */
  font-size: 2.1em; 
  text-align: center; 
}


  .florG {
    position: absolute;
    right: 0; /* Pegado al borde derecho */
    top: 50%; /* Centrado verticalmente */
    transform: translateY(-50%) scale(1.4); /* Alineación vertical + escala */
    
}
.florP {
  position: absolute;
  right: 830px; /* Pegado al borde izquierdo */
  top: 32%; /* Centrado verticalmente */
  transform: translateY(-50%) scale(1.2); /* Alineación vertical + escala */
  margin: 0; /* Elimina cualquier margen que pueda estar interfiriendo */
  padding: 0; /* Elimina cualquier padding si no es necesario */
}

span{
  font-size: 1rem;
  font-weight: 400;
  color: black;
}
.card {
  display: flex; /* Hace que las tarjetas se alineen horizontalmente */
  column-gap: 2rem; /* Espaciado entre las tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  /* border: 1px solid; Aplica un borde */
  width: 1000rem; /* Establece el ancho completo del contenedor */
   /* Límite máximo de ancho */
   margin-left: -41.8rem;
   margin-top: -9rem;
}

#skills{
  display: flex;
  /* Centra horizontalmente */
   align-items: flex-start; 
   padding-bottom: 1rem;
    background: #f4f6fc;
    margin-bottom: 1rem;
   /*Alínea en la parte superior */
 }  
  


.targetas{
  width: 17rem;
  height: 20rem;

}

.textC{
  /* -webkit-text-stroke: 1px black; */
   color: black;
   font-weight: 900; 
  font-family: 'Cinzel Decorative', cursive;
}



.tit{
  width: 5.5rem;
  text-align: center;
  /* border: 1px black solid; */
  font-size: 2.5rem;
  /* margin-top: -16rem; 
  /* align-self: flex-start; */
  /* margin-left: 9rem; */ 
  margin-left: 20rem;
  position: relative;
  right: 2rem;
  margin-top: -18rem;
  justify-content: center;
}

.titulo-pro{
  width: 12rem;
  text-align: center;
  /* border: 1px black solid; */
  font-size: 2.5rem;
  /* margin-top: -16rem; 
  /* align-self: flex-start; */
  /* margin-left: 9rem; */ 
  margin-left: 25rem;
  position: relative;
  right: 10rem;
  margin-top: -18rem;;
  justify-content: center;
  
}

.tecno{
  width: 16rem;
  text-align: center;
  /* border: 1px black solid; */
  font-size: 2.5rem;
  /* margin-top: -16rem; 
  /* align-self: flex-start; */
  /* margin-left: 9rem; */ 
  margin-left: 13rem;
  margin-top: -18rem;
  justify-content: center;
}

#tecnologias{
  margin-bottom: 1rem;
  padding-bottom: 3rem;

}

.botones2{
  width: 6rem;
}

@media (max-width: 768px) {
  .florG {
      transform: translateY(-50%) scale(0.6); /* Ajusta el tamaño de la florG */
      left: 29%; /* Aumenta el margen derecho */
      padding-top: 44rem;
  }

  .florP {
      transform: translateY(-50%) scale(0.7); /* Ajusta el tamaño de la florP */
      right: 20%; /* Aumenta el margen derecho */
      margin-top: -1rem;
  }



  .header{
    height: 70vh;
    min-height: 30rem;
    max-height: 30rem;
  }

  .letra {
    font-size: 0.8rem; /* Reduce el tamaño del texto */
    width: 100%; /* Asegura que ocupe el ancho completo en dispositivos móviles */
    margin: 20px 10px; /* Reduce márgenes */
    padding: 10px; /* Reduce el padding para que encaje mejor en pantallas pequeñas */
    
    
}

.letra2 {
    right: 8%; /* Ajusta la posición a la derecha en pantallas más pequeñas */
    width: 80%; /* Reduce el ancho para adaptarse mejor */
    font-size: 1.3rem; /* Reduce el tamaño del texto */
    margin-top: -3rem;
}

.aboutC {
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  padding: 0 1rem;
}

.about-title {
  font-size: 1rem;
  margin-bottom: 1rem;
  border-bottom-width: 2px;
  width: 15rem;
  -webkit-text-stroke: 1.3px black;
}

.pc {
  margin-left: 1rem;
  margin-top: -4rem;
  width: 30rem;

}

.pab{
  font-size: 1rem;
  
  width: 18rem;
 
}

 .section {
  padding: 5rem; /* Reducir el padding para evitar desbordamientos en pantallas pequeñas */
  margin-bottom: 50px;
  width: 100%;
  
  
} 


.contenedor-proyectos1 {
  flex-direction: column; /* Cambia a columna en dispositivos móviles */
  /* align-items: center; Centra las tarjetas */
  /* border: 2px solid red; */
  height: 100rem;
  margin-left: 3rem;
  width: 20rem;
  height: 84rem;
  margin-top: 5rem;

}

#proyectos{
  padding-bottom: -50rem;
}

.contenedor-proyectos {
  width: 80%; /* Ajusta el ancho de las tarjetas en móviles */
  margin: 10px 0; /* Espaciado vertical */
  margin-left: 10rem;
}

.titulo-pro {
  font-size: 2rem; /* Ajusta el tamaño del título */
  margin-left: 9.5rem;
  margin-top: -9rem;
}

.p-footer {
  justify-content: center; /* Centra el texto en pantallas pequeñas */
  font-size: 1rem; /* Ajusta el tamaño del texto */
  top: 1rem; /* Ajusta la posición del texto */
}

.container-footer {
  left: 0; /* Resetea el desplazamiento horizontal */
  bottom: 0; /* Resetea el desplazamiento vertical */
  justify-content: center; /* Centra los íconos */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  gap: 1rem; /* Reduce el espacio entre los íconos en móviles */
}
#footer{
  height: 5rem;
  padding-bottom: 10rem;
  width: 20rem;
}

.btn-grid {
  width: 100%; /* Botones ocupan el ancho completo */
  margin: 5px 0; /* Espaciado vertical entre botones */
}

.botones2 {
  width: 45%; /* Ajusta el ancho de los botones locales y GitHub */
  margin: 10px; /* Espaciado entre botones */
}

#tecnologias{
  margin-bottom: 4rem;

}

.tit {
  font-size: 1.5rem; /* Ajusta el tamaño del texto */
  margin-left: -1rem; /* Ajusta el margen para moverlo horizontalmente */
  margin-top: -4rem; /* Ajusta el margen superior */
  text-align: center; /* O cualquier otra alineación que prefieras */
  position: relative; /* Si necesitas moverlo más específicamente */
  left: 75px; /* Puedes ajustar esto para moverlo horizontalmente */
  top: 0; /* Puedes ajustar esto para moverlo verticalmente */
}

.targetas {
  width: 50%; /* Haz que las tarjetas ocupen todo el ancho del contenedor */
  height: auto;
  width: 18rem /* Ajusta la altura automáticamente según el contenido */
}

.textC {
  font-size: 1.2rem; /* Ajusta el tamaño del texto */
}

span {
  font-size: 0.8rem; /* Ajusta el tamaño del texto dentro del `span` */
}
.myNav{
    width: 36%;
  }


  #skills{
    display: flex;
    /* Centra horizontalmente */
    /* border: 1px solid; */
     width: 100%;
      margin-bottom: 1rem;
     /*Alínea en la parte superior */
   } 

   .card {
    flex-direction: column;/* Hace que las tarjetas se alineen horizontalmente */
    column-gap: 2rem; /* Espaciado entre las tarjetas */
     /* Centra las tarjetas horizontalmente */
    /* border: 1px solid; Aplica un borde */
    width: 1000rem; /* Establece el ancho completo del contenedor */
     /* Límite máximo de ancho */
     margin-left: -6rem;
     margin-top: -1rem
  }

  .grid-tecno{
    grid-template-columns: repeat(2, 1fr); /* Tres columnas */
    grid-template-rows: repeat(2, auto); /* Dos filas */
    gap: 3rem;
    margin-right: 28rem;
    
  }
  .iconos{
    font-size: 4rem;
  }
  .tecno{
    width: 10rem;
    text-align: center;
    /* border: 1px black solid; */
    font-size: 1.5rem;
    /* margin-top: -16rem; 
    /* align-self: flex-start; */
    /* margin-left: 9rem; */ 
    margin-left: 1rem;
    margin-top: -5rem;
    justify-content: center;
  }

  .grid{
    margin-right: 30rem;
    gap: 3rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .florG {
      transform: translateY(-50%) scale(0.7); /* Ajusta el tamaño de la florG */
      left: 50%; /* Ajusta la posición hacia el borde */
      
      padding-top: 35rem;
  }

  .florP {
      transform: translateY(-50%) scale(0.8); /* Ajusta el tamaño de la florP */
      right: 44%; /* Aumenta el margen derecho */
      margin-top: -0.5rem;
  }

  .letra {
      font-size: 0.9rem; /* Ajusta el tamaño del texto */
      width: 85%; /* Ocupar más espacio en tablet */
      margin: 30px 10px; /* Ajusta los márgenes */
      padding: 10px; /* Ajusta el padding */
  }

  .letra2 {
      right: 20%; /* Ajusta la posición para centrarse mejor en tablets */
      width: 60%; /* Ajusta el ancho para que se vea bien en tablets */
      font-size: 1.6rem; /* Reduce el tamaño de la fuente */
  }

  .header {
      height: 80vh; /* Ajusta la altura general del header para tablets */
      min-height: 40rem;
      max-height: 40rem;
  }
  
  


  .logo{
    display: none;
  }

  .aboutC {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 0 1rem;
  }
  
  .about-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom-width: 2px;
    width: 18rem;
    -webkit-text-stroke: 1.4px black;
  }
  
  .pc {
    margin-left: 5rem;
    margin-top: -4rem;
    width: 30rem;
  
  }
  
  .pab{
    font-size: 1.1rem;
    
    width: 30rem;
   
  }
  .myNav{
    width: 100%;
  }

}

h3{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  -webkit-text-stroke: 1.2px black;
  border-bottom: #7adcb0 solid;
  /* border: 1px solid; */
  width: 23rem;

}



